body {
  font: 13px/20px 'Lucida Grande', Tahoma, Verdana, sans-serif;
  height: 200px;
  background-repeat: no-repeat;
  background-position: top center;
  background-color: #1CB3EC;
  width: 98%;
}
img{
	border-style:solid;
	border-color:cyan;
}

p{
	font-size:48px;
}

#Main{
	font-size:56px;
}

.test{
		float:right;
		padding:30px 150px;
}

.container{
	width:1000px;
}

.right_side{
	float:right;
	width:390px;
	padding:10px;
	font-size:24px;
	text-align:center;
}

.right_side2{
	text-align:center;
	line-height: 12px;
     width: 390px;
     font-size: 24px;
     font-family: tahoma;
     margin-top: 99px;
     margin-right: 300px;
     position:absolute;
     top:0;
     right:0;
}

.tableRowsForHistory {
	width: 800px;
    height: 600px;
    padding: 5px;
    margin: 0 auto;
    text-align: left;
	font-size:14px;
}

.List{
	float:right;
	padding:30px 350px;
	text-align:center;
}

#board{
	  width: 100px;
    height: 50px;
	border-style: solid;
    border-color: cyan;
    font-size:36px;
    float:left;
    background-color: cyan;
   	
}
#r_board{
	  width: 100px;
    height: 50px;
  	 border-style: solid;
    border-color: cyan;
    font-size:36px;
    float:right;
}
#cal{
	float:right;
	padding:0px 320px;
	text-align:center;
}
.Shop{
	float:right;
	padding:30px 350px;
	font-size:24px;
	text-align:center;
}

.tasksSize {
	width: 1000px;
    height: 600px;
    padding: 5px;
    margin: 0 auto;
    text-align: left;
	font-size:14px;
}

.firstColumn {
	width: 200px;
}

.secondColumn {
	width: 500px;
}

.thirdColumn {
	width: 50px;
}

.fourthColumn {
	width: 50px;
}

.forstRow {
	height: 50px;
}

.right {
    width: 330px;
    height: 300px;
    padding: 5px;
    margin: 0 auto;
    text-align: left;
    border-style:solid;
	border-color:cyan;
}