body {
  font: 13px/20px 'Lucida Grande', Tahoma, Verdana, sans-serif;
  background-color: #1CB3EC;
  width: 98%;
}

img{
	border-style:solid;
	border-color:cyan;
}

p{
	font-size:18px;
}

.accountView {
    height: 150px;
    padding: 5px;
    margin: 0 auto;
    text-align: left;
}

.right {
    width: 330px;
    height: 300px;
    padding: 5px;
    margin: 0 auto;
    text-align: left;
}

.tasksSize {
	width: 800px;
    height: 600px;
    padding: 5px;
    margin: 0 auto;
    text-align: left;
}

.firstColumn {
	width: 200px;
}

.secondColumn {
	width: 500px;
}

.thirdColumn {
	width: 50px;
}

.fourthColumn {
	width: 50px;
}

.forstRow {
	height: 50px;
}